<!DOCTYPE html>
<html ng-app = "myApp" lang "en">
<head>
<meta charset = "utf 8">
<title> JS 18</title>

<link rel = "stylesheet" type="text/css" href="main.css">
<script src="angular.min.js"> </script>  
	

</head>

<body>

	<div ng-controller = "mainController">
		
	<div class="main-container">


		<h1 class = "header"> "Quote Me On That"</h1>
<!-- 			<img class="jim" src = "https://blondehurst.files.wordpress.com/2015/06/typing.gif"
 -->
		<div class = "quote-box">
			<input ng-model= "newScript.quote" type ="text" class = "quote-input" placeholder = "Enter your quote here"> 
				</div>

		<div class ="author-box">
			<input ng-model= "newScript.author" type = "text" class ="author-input" placeholder = " Enter Author's name here">

				</div>
		<button ng-click="clickSubmit($event)" class="submit-button"><em>Submit Quote</em></button>
				</div>
	
			<div class = "submittedContainer "> </div>
				<ul>
					<li ng-repeat="script in quotes"> {{script.quote}} <br> Author: {{script.author}}</li>

	</div>
	
	<script src = "main.js"> </script>
	</body>

	</html>

