<!DOCTYPE html>
<html ng-app = "myApp" lang "en">
<head>
<meta charset = "utf 8">
<title> JS 18</title>

<link rel = "stylesheet" type="text/css" href="main.css">
<script src="angular.min.js"> </script>  
	

</head>

<body>

	<div ng-controller = "mainController">
		
	<div class="main-container">
		<h1 class = "header"> "Quote Me On That"</h1>


 
		<div class = "quote-box">
			<input ng-model= "newScript.quote" type ="text" class = "quote-	input" placeholder = "Enter your quote here"> 
		</div>

		<div class ="author-box">
				<input ng-model= "newScript.author" type = "text" class ="author-input" placeholder = " Enter Author's name here">

		</div>
		

		<button ng-click="clickSubmit($event)" class="submit-button"><em>Submit Quote</em></button>
				</div>
		

		<button  ng-click = "getRandomQuote($event)" class= "random quote" > Random Quote </button>
				
				<div class= "popup" ng-show = "showPopup">"{{randomQuote.quote}}"<br> <em>{{randomQuote.author}}<em>
						
				</div>
					
	
			<div class = "submittedContainer "> </div>
				<ul>
					<li class= "quoteOutput" ng-repeat="script in quotes| orderBy:'rating': reverse"> "{{script.quote}}" <br>  <em>Author:</em> {{script.author}}
						<div class = "rating">
						<p> Rate This Quote: {{script.rating}}</p>
						<select name = " Rate this Quote" ng-model="script.rating" > Rate this Quote
							<option value = "1" >1 Star</option>
							<option value = "2" >2 Stars</option>
							<option value = "3" >3 Stars</option>
							<option value = "4" >4 Stars</option>
							<option value = "5" >5 Stars</option>
							</select>
						</div>
					</li>
				</ul>
			</div>
				

	
	
			<script src = "main.js"> </script>
	</body>

	</html>

