* body{

	background-color: #95a5a6;
}

.main-container{
	border-radius: 10px; 

}

.header{
	margin-left:40vw;
	font-family: fantasy;
}

.quote-box{
	margin-left:46vw;
	margin-top: 10vw;
}

.author-box{
	margin-left: 46vw;
	margin-top: 5vw;

}

.submit-button{
	margin-left:47vw;
	margin-top: 5vw;
	height: 4vw;
	border-radius: 5px;
	width:8vw;
	background-color: #2C3E50;
}

.quote-input{

	border-color: black;

}

.author-input{

	border-color: black
}

.quoteOutput{

	font-family: copperplate;
	font-size: 20px;
	margin-left:46vw;
	margin-top: 5vw;
}

/*.jim{

	width:75%;
	height: 75%;
	opacity: 0.3;
}*/